@charset "utf-8";

:root{

    /* Colors */
    --primary-color:#FF3A27;
    --secondary-color:#1A53BD;
    --heading-color:#243E8B;
    --text-color:#242527;
    --text-color-light:#808080;
    --body-bg-color:#F3F3F3;
    --white-color:#ffffff;

    /* Typography */
    --body-font: 'cerebri_sans', sans-serif;
    --title-font: 'cerebri_sans', sans-serif;
    --font-weight-small:300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    /* Others */
    --transition:.3s;
    --shadow: rgba(49,132,255,.8);
    --blur-big:50px;
    --blur-small:30px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: var(--body-font);
    scroll-behavior: smooth;
    vertical-align: baseline;
    overflow-x: hidden;
    transition: .3s;
}

img {
    max-width: 100%;
    height: auto;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    backface-visibility: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--title-font);
    font-weight: var(--font-weight-bold);
}

h1{
    font-size: 60px;
    font-weight: var(--font-weight-bold);
}

h2{
    font-size: 30px;
    font-weight: var(--font-weight-medium);
}

h4{
    font-weight: var(--font-weight-medium);
}

p,
span{
    font-size: 16px;
    color: var(--text-color);
    font-family: var(--body-font);
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    list-style: none;
    font-family: var(--body-font);
}

a{
    font-size: 16px;
    font-family: var(--body-font);
    color: var(--text-color);
    text-decoration: none;
    transition:var(--transition);
}

a:hover{
    color: var(--text-color);
}

input:not([type="checkbox"]),
textarea,
select,
button {
    outline: none;
    border: none;
}

input::placeholder{
    font-size: 1rem;
    font-weight: var(--font-weight-small);
    color: var(--text-color-light);

}

/* General Css */

.scroll-margin{
    scroll-margin-top: 155px;
}

.mt-30{
    margin-top: 30px;
}

.mt-40{
    margin-top: 40px;
}

.mt-50{
    margin-top: 50px;
}

.mt-60{
    margin-top: 60px;
}

.mt-100{
    margin-top: 100px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-100{
    margin-bottom: 100px;
}

.pt-40{
    padding-top: 40px;
}

.pt-50{
    padding-top: 50px;
}

.pt-80{
    padding-top: 80px;
}

.pt-100{
    padding-top: 100px;
}

.pt-200{
    padding-top: 200px;
}

.pt-300{
    padding-top: 300px;
}

.pb-40{
    padding-bottom: 40px;
}

.pb-50{
    padding-bottom: 50px;
}

.pb-60{
    padding-bottom: 60px;
}

.pb-100{
    padding-bottom: 100px;
}

.pb-200{
    padding-bottom: 200px;
}

.px-50{
    padding: 0 50px;
}

.px-100{
    padding: 0 100px;
}

.py-70{
    padding: 70px 0;
}

.py-80{
    padding: 80px 0;
}

.mr-50{
    margin-right: 50px;
}

.title-center {
    background: url(../images/slider-bar.png) center no-repeat;
    font-size: 24px;
    font-weight: 600 !important;
    line-height: 42px;
    margin: 0;
    color: #313131;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 24px;
}

.title-center .content {
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    display: inline;
}

/* Header */

.clo-header{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(237, 27, 35);
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
}

.clo-header.fixed{
    position: fixed;
    background-color: transparent;
    box-shadow: none;
    z-index: 10;
}

.header-wpr{
    display: flex;
    justify-content: space-between;
}

.logo img{
    max-width: 120px;
}

.nav-list li{
    display: inline-block;
    position: relative;
}

.nav-list li a{
    display: block;
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    color: var(--white-color);
    padding: 10px;
}

.header-icon{
    display: inline-block;
    font-size: 24px;
    color: var(--white-color);
    padding: 16px 8px;
    cursor: pointer;
    transition: .3s;
}

.header-icon:hover{
    color: var(--white-color);
    transform: translateY(-4px);
}

/* Hero Banner */

.hero-banner-wpr{
    width: 100vw;
}

.hero-banner-wpr .banner-item{
    position: relative;
    height: 100vh;
}

.hero-banner-wpr .banner-item img{
    height: 100%;
}

.banner-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

.banner-content h1{
    transform: translateY(100px);
    opacity: 0;
    transition: 1s;
}

.banner-content p{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    transform: translateY(80px);
    opacity: 0;
    transition: all 1s .3s;
}

.banner-content .shop-btn{
    width: 200px;
    height: 50px;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--text-color);
    text-align: center;
    line-height: 50px;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s .6s;
}

.hero-banner-wpr .owl-item.active .banner-content h1,
.hero-banner-wpr .owl-item.active .banner-content p,
.hero-banner-wpr .owl-item.active .banner-content .shop-btn{
    transform: translate(0,0);
    opacity: 1;
}

.hero-banner-wpr .owl-nav .owl-prev,
.hero-banner-wpr .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px !important;
  color: var(--white-color) !important;
  width: 40px;
  height: 40px;
  outline: none;
  transition: 0.3s;
}

.hero-banner-wpr .owl-nav .owl-next {
    right: 18px;
}

.hero-banner-wpr .owl-nav .owl-prev {
  left: 18px;
}

/* Category Banner */

.clo-category-banner img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.clo-category-banner .single-banner{
    position: relative;
    overflow: hidden;
}

.clo-category-banner .single-banner::before {
    content: "";
    background-color: #ffffff4d;
    position: absolute;
    left: -100%;
    display: block;
    width: 100%;
    top: 0;
    height: 100%;
    overflow: hidden;
    transition: left .4s ease 0s;
}

.clo-category-banner .single-banner:hover::before{
    left: 0;
}

/* New Collection */

/* Product Grid */

.product-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 0;
    position: relative;
    -webkit-transition: all 0.075s ease-out;
    transition: all 0.075s ease-out;
    overflow: visible;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.product-thumb .image {
    position: relative;
    overflow: hidden;
}

.product-thumb .image::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    -webkit-transition: all 0.01s ease-out;
    transition: all 0.01s ease-out;
}

.product-thumb .quickview-button {
    display: flex;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translate3d(-50%, -50%, 1px);
    margin-right: 5px;
    margin-bottom: 5px;
    position: absolute;
    z-index: 4;
    overflow: hidden;
}

.product-thumb .btn-quickview {
    width: 40px;
    height: 40px;
    color: var(--white-color);
    background: rgba(58, 71, 84, 1);
    border-radius: 50px !important;
    text-align: center;
    line-height: 25px;
    visibility: hidden;
    opacity: 0;
    transform: scale(.88);
}

.product-thumb:hover .btn-quickview {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.product-thumb .product-img {
    display: block;
}

.product-thumb .product-img > div {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.product-thumb .product-img img {
    background: rgba(240, 242, 245, 1);
    pointer-events: none;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 100%;
    height: auto;
}

.product-thumb:hover .has-second-image img {
    visibility: hidden;
}

.product-thumb .product-img img.img-second {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.product-thumb:hover .has-second-image img.img-second {
    visibility: visible;
    opacity: 1;
}

.product-thumb .caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
}

.product-thumb .name {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
    order: initial;
    display: flex;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 7px;
}

.product-thumb .name a {
    display: block;
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 15px;
    color: rgba(58, 71, 84, 1);
    text-align: center;
    text-transform: none;
    text-align: center;
}

.product-thumb .price {
    display: block;
    font-size: 15px;
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 7px;
}

.product-thumb .price span {
    line-height: 1;
}

.product-thumb .buttons-wrapper {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    left: 50%;
    margin-top: auto;
    transform: translate3d(-50%,-100%,1px);
}

.product-layout .button-group{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0,15px,1px);
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
    background: rgba(58, 71, 84, 1);
    padding: 5px;
}

.product-thumb:hover .buttons-wrapper .button-group {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0,0,1px);
}

.product-thumb .cart-group {
    display: inline-flex;
    flex: initial;
}

.stepper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 36px;
    border-width: 1px;
    min-height: 30px;
    font-size: 15px;
    border-color: rgba(105, 105, 115, 1);
    -webkit-transition: all 0.05s ease-out;
    transition: all 0.05s ease-out;
}

.stepper span {
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    border-width: 0 0 0 1px;
    border-color: inherit;
    border-style: inherit;
    z-index: 10;
}

.stepper span i {
    cursor: pointer;
    width: 100%;
    min-width: 18px;
    color: rgba(105, 105, 115, 1);
    background-color: rgba(238, 238, 238, 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 50%;
    -webkit-transition: all 0.05s ease-out;
    transition: all 0.05s ease-out;
}

.stepper span i:first-of-type {
    border-width: 0 0 1px 0;
    border-color: inherit;
    border-style: inherit;
}

.product-thumb .stepper {
    display: inline-flex;
    margin-right: 5px;
    border-style: none;
    height: 35px;
}

.product-thumb .btn-cart.btn {
    background: rgba(58, 71, 84, 1);
    border-width: 2px;
    padding: 0 10px;
    flex: initial;
    height: 35px;
    line-height: 30px;
}

.product-thumb .btn-cart.btn:hover{
    background-color: rgba(237, 27, 35, 1);
}

.product-thumb .btn-cart.btn i{
    font-size: 18px;
}

.product-thumb .btn-cart.btn span{
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    text-transform: uppercase;
}

.wish-group {
    position: static;
    width: auto;
    top: auto;
    visibility: visible;
    opacity: 1;
    transform: translate3d(0,0,0);
    justify-content: flex-end;
}

.wish-group a i{
    font-size: 18px;
    font-weight: 400;
    color: rgba(237, 27, 35, 1);
    margin: 0 4px;
}

.product-thumb .btn-wishlist.btn {
    background: none;
    border-style: none;
    padding: 3px;
    box-shadow: none;
}

.product-thumb .extra-group {
    position: absolute;
    bottom: -10px;
    overflow: hidden;
    left: 0;
    right: 0;
    margin-top: auto;
}

.product-thumb .extra-group>div {
    background: rgba(240,242,245,1);
    padding: 3px 0 10px;
    transform: translate3d(0, 20px, 0);
    opacity: 0;
    text-align: center;
    transition: all 0.075s ease-out;
}

.product-thumb .extra-group > div > a{
    font-size: 13px;
    font-weight: 700;
    padding: 0;
}

.product-thumb .extra-group > div > a i{
    font-size: 18px;
}

.product-thumb:hover .extra-group>div {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* Blogs */

.single-video-post,
.video-post-image{
    position: relative;
    overflow: hidden;
}

.video-post-image img{
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: .3s ease-in;
}

.single-video-post:hover .video-post-image img{
    transform: scale(1.1);
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.4);
    border-radius: 5px;
}
  
.vid-icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    color: var(--dark-color);
    background: var(--white-color);
    border: 1px solid var(--hover-color);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    /* animation-name: ripple;
    animation-duration: 1.5s;
    animation-iteration-count: infinite; */
    z-index: 5;
}

/* @keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
    }

    80% {
        box-shadow: 0 0 0 20px #fff0, 0 0 0 30px #fff0;
    }

    100% {
        box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
    }
} */
  
.vid-icon img {
    width: 27px;
    min-height: 27px;
    height: 27px;
    margin-left: 5px;
}

.mfp-wrap .mfp-close {
    cursor: pointer;
    background: var(--white-color);
    border: 0;
    outline: 0;
    padding: 0;
    display: block;
    z-index: 1046;
    box-shadow: none;
    text-align: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    position: absolute;
    top: -50px;
    right: 0;
    color: var(--primary-color);
    opacity: 1;
}

button.mfp-close {
    overflow: visible;
    cursor: pointer;
    background: white;
    border: 0;
    outline: 0;
    padding: 0;
    display: block;
    z-index: 1046;
    box-shadow: none;
}

.mfp-close {
    position: absolute;
    top: 0;
    right: 40px;
    color: black;
}

.single-video-post:hover .post-meta-data{
    opacity: 0;
    visibility: hidden;
}

.post-meta-data span{
    font-weight: 700;
    color: rgb(237, 27, 35);
}

.post-meta-data span.post-date{
    display: inline-block;
    font-size: 14px;
    color: var(--text-color);
}

.video-post-info .read-more{
    position: relative;
    top: -25px;
    left: -50%;
    font-size: 14px;
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(237, 27, 35);
}

.single-video-post:hover .read-more{
    left: 0;
}


/* Footer */

footer .top-footer {
    background-color: #000 !important;
    color: #fff !important;
  }
  footer .top-footer h1,
  footer .top-footer h2,
  footer .top-footer h3,
  footer .top-footer h4,
  footer .top-footer h5,
  footer .top-footer h6,
  footer .top-footer .h1,
  footer .top-footer .h2,
  footer .top-footer .h3,
  footer .top-footer .h4,
  footer .top-footer .h5,
  footer .top-footer .h6 {
    color: #fff !important;
  }
  footer .top-footer a {
    color: #fff !important;
  }
  footer .middle-footer {
    background-color: #000 !important;
    color: #fff !important;
    padding: 80px 0;
  }
  footer .middle-footer h1,
  footer .middle-footer h2,
  footer .middle-footer h3,
  footer .middle-footer h4,
  footer .middle-footer h5,
  footer .middle-footer h6,
  footer .middle-footer .h1,
  footer .middle-footer .h2,
  footer .middle-footer .h3,
  footer .middle-footer .h4,
  footer .middle-footer .h5,
  footer .middle-footer .h6 {
    color: #fff !important;
  }
  footer .middle-footer a {
    color: #fff !important;
    font-weight: var(--font-weight-bold);
  }
  footer .bottom-footer {
    background-color: #000 !important;
    color: #fff !important;
  }
  footer .bottom-footer h1,
  footer .bottom-footer h2,
  footer .bottom-footer h3,
  footer .bottom-footer h4,
  footer .bottom-footer h5,
  footer .bottom-footer h6,
  footer .bottom-footer .h1,
  footer .bottom-footer .h2,
  footer .bottom-footer .h3,
  footer .bottom-footer .h4,
  footer .bottom-footer .h5,
  footer .bottom-footer .h6 {
    color: #fff !important;
  }
  footer .bottom-footer a {
    color: #fff !important;
  }

ul.list-icon li {
    position: relative;
    font-weight: var(--font-weight-bold);
    margin-bottom: 18px;
}
 
ul.social-link li {
    float: left;
    margin: 0 10px;
    font-size: 16px;
}

.footer .middle-footer ul.menu li {
    line-height: 30px;
    margin-bottom: 5px;
}

.copyright address{
    font-weight: var(--font-weight-bold);
}

.clo-footer-tooltip{
    background-color: #3b3b3b;
    padding: 32px 0;
}

.clo-footer-tooltip h4,
.clo-footer-tooltip p{
    color: var(--white-color);
    margin-bottom: 4px;
}

.clo-footer-tooltip .item{
    position: relative;
    padding-left: 40px;
}

.clo-footer-tooltip .item i{
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 32px;
    color: rgb(237, 27, 35);
    transform: translate(0, -50%);
}

/* Product Category */

.clo-breadcrumb .breadcrumb-link {
    position: relative;
    display: inline-block;
    font-weight: 700;
    padding: 0 10px;
}

.clo-breadcrumb .breadcrumb-link:not(:last-of-type)::after {
    position: absolute;
    content: "/";
    top: 2px;
    right: -4px;
    font-size: 14px;
    font-weight: 700;
}

.breadcrumb-link.active {
    color: rgb(237, 27, 35);
}

.categori-details {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-column-gap: 24px;
}

.sorting-menu {
    display: inline-block;
    background-color: var(--white-color);
    border-radius: 5px;
    border: 1px solid var(--text-color-light);
    padding: 8px 0;
}

.product-toolbar .sorting-item {
    display: inline-block;
    font-size: .88rem;
    padding: 0 14px;
    border-right: 1px solid var(--text-color-light);
}

.sorting-widget,
.view-widget{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sorting-widget *{
    font-weight: 700;
}

.view-widget .layout-icon {
    font-size: 28px;
    cursor: pointer;
}

.view-widget .layout-icon.active {
    color: rgb(237, 27, 35);
}

.filter-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
}
  
.filter-toolbar .filters{
    display: flex;
    gap: 16px;
}
  
.single-filter{
    width: max-content;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #f7f8f9;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    padding: 4px 8px;
}
  
.single-filter .form-select{
    width: max-content;
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 0;
}
  
.single-filter .form-select:focus{
    box-shadow: none;
}
  
.single-widget{
    background-color: rgba(240, 242, 245, 1);
    margin-bottom: 20px;
}
  
.single-widget .widget-title{
    position: relative;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
    padding: 8px;
}

.single-widget .widget-content{
    padding: 8px;
}
  
/* .single-widget .widget-title::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 60px;
    height: 2px;
    background-color: var(--primary-color);
} */
  
.widget-title h5{
    font-weight: var(--font-weight-bold);
    margin-bottom: 0;
}
  
.categories li a{
    display: block;
    font-weight: 700;
    margin: 4px 0;
}
  
.color-filter li,
.size-filter li{
    display: inline-block;
    margin-right: 7px;
}
  
.color-filter input{
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}
  
.color-filter input:checked{
    padding: 4px;
    box-shadow: 0 0 0 2px #fff,0 0 0 3px var(--dark-color);
}
  
.size-filter input{
    appearance: none;
    display: none;
}
  
.size-filter label span{
    display: inline-block;
    min-width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid rgb(237, 27, 35);
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    margin-bottom: 8px;
    padding:0 2px;
}
  
.size-filter input:checked ~ span{
    color: var(--white-color);
    background-color: rgb(237, 27, 35);
}
  
.widget-products .single-product{
    padding: 0 5px;
    margin-bottom: 10px;
    box-shadow: none;
}

.widget-products .single-product h6{
    margin-bottom: 4px;
}
  
.widget-products .price{
    font-size: .85rem;
    color: rgb(237, 27, 35);
}

/* Range Filter */

.price-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 16px;
}

.price-input .field{
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
}
.field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 12px;
    margin-left: 0;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-input .separator{
    width: max-content;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    padding: 0 2px;
}

.slider{
    height: 2.5px;
    position: relative;
    background: #d3d3d3;
    margin: 5px 0 10px;
}

.slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: rgb(237, 27, 35);
}

.range-input{
    position: relative;
}

.range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -15px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: var(--primary-color);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}

/* Quick View Modal */

.clo-quick-view{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 40%);
    z-index: 100;
}
  
.clo-quick-view.show{
    display: flex;
}
  
.quick-view-container{
    position: relative;
    width: 45%;
    height: 85%;
    background-color: var(--white-color);
    padding: 24px;
    border-radius: 8px;
    overflow: auto;
}
  
.modal-close{
    position: absolute;
    right: 30px;
    top: 25px;
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
}

.product-info h3 {
    font-family: var(--body-font);
}

.product-info .rating-box-wrap {
    display: flex;
    align-items: center;
}

.rating-box-wrap .rating-box {
    display: flex;
}

.rating-box i {
    color: #f9ba48;
    font-size: 1rem;
    letter-spacing: 2px;
}

.rating-box-wrap .review-status {
    position: relative;
    top: 1px;
}

.review-status a {
    color: #999;
    display: inline-block;
    line-height: 1;
    margin-left: 8px;
}

.review-status a:hover {
    color: var(--secondary-color);
}

.product-info .prices {
    border-top: 1px solid #e5e5e5;
    margin: 20px 0 32px 0;
    padding-top: 17px;
}

.prices .price {
    font-size: 1.20rem;
    font-weight: var(--font-weight-semi-bold);
}

.product-info .desc {
    color: #999;
    line-height: 1.8;
    margin-bottom: 36px;
}

.product-info .color-form-select-wrap .form-label {
    font-size: 1rem;
    font-weight: var(--font-weight-semi-bold);
    margin: 0 0 8px;
    text-transform: capitalize;
}

.product-info .color-form-select-wrap .color-form-select {
    border: 1px solid var(--secondary-color);
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    height: 41px;
    padding: 0 5px 0 15px;
    min-width: 285px;
    width: 285px;
}

.product-info .qty-add-to-cart-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;
}

.product-info .qty-wrap {
    margin-right: 10px;
}

.product-info .qty-wrap .pro-qty {
    display: inline-block;
    position: relative;
}

.product-info .qty-wrap .pro-qty input {
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    width: 105px;
    height: 42px;
    font-size: 16px;
    padding: 5px 26px 5px 5px;
    text-align: center;
}

.product-info .qty-wrap .pro-qty .qty-btn {
    background-color: transparent;
    position: absolute;
    width: 25px;
    height: 21px;
    font-weight: 600;
    top: 0;
    right: 0;
    border-left: 1px solid var(--secondary-color);
    line-height: 21px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-out;
}

.product-info .qty-wrap .pro-qty .dec {
    border-top: 1px solid var(--secondary-color);
    top: auto;
    bottom: 0;
}

.btn-theme {
    background: var(--primary-gradient-color);
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    line-height: 1;
    font-weight: 700;
    padding: 14px 81px;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
}

.product-info .btn-theme:hover {
    color: var(--white-color);
}

.product-info .wishlist-compare-wrap {
    margin-top: 16px;
}

.product-info .wishlist-compare-wrap a:hover {
    color: var(--secondary-color);
}

.product-info .wishlist-compare-wrap a+a {
    margin-left: 36px;
}

.product-info .product-single-meta {
    border-top: 1px solid #e5e5e5;
    margin: 20px 0 22px 0;
    padding-top: 22px;
    width: 100%;
}

.product-info .product-single-meta ul {
    margin-bottom: 0;
}

.product-info .product-single-meta ul li {
    color: #242424;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.71428;
    margin: 0 0 5px 0;
}

.product-info .product-single-meta ul li span {
    font-size: 1rem;
    font-weight: var(--font-weight-semi-bold);
    text-transform: capitalize;
}

.product-info .social-icons {
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
    padding-top: 20px;
}

.product-info .social-icons span {
    display: inline-block;
    font-size: 1rem;
    font-weight: var(--font-weight-semi-bold);
    margin-bottom: 8px;
    margin-right: 15px;
    text-transform: capitalize;
}

.product-info .social-icons a {
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}

.product-slider .single-product-thumb .owl-item {
    cursor: pointer;
}